/* General Reset */
body, h1, h2, h3, p, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fffbfb;
}

/* Body Styling */
body {
    font-family: Raleway ,Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #090909;
    padding: 20px;
    margin: 0;
}

/* Header */
header {
    text-align: LEFT;
    background-color: #090909;
    color: #fffbfb;
    padding: 20px 0;
    margin-bottom: 20px;
    border-radius: 8px;
    max-width: 1200px;
    top: 0;
    
    
}

main h1 {
    font-size: 4rem;
    line-height: 1.3;
}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
}

/* Main Content */
main {
    margin: 0 auto;
    max-width: 650px;
    
}

.app-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 10px;  
    margin-top: 20px;
}

.app-card {
    background: rgb(0, 0, 0);
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none; /* Remove link underline */
    color: inherit; /* Inherit text color */
}

.app-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    background-color: #1c1c1c;
}

.app-card .app-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 7px;
    border-radius: 8px;
    object-fit: cover;
}

.app-card h2 {
    font-size: 1.2rem;
    margin-bottom: 3px;
}

.app-card p {
    font-size: 1rem;
    color: #ffffff;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background: #090909;
    color: #fffbfb;
    font-size: 0.9rem;
    border-radius: 8px;
}

/* Responsive Design */
@media (max-width: 275px) {
    .app-list {
        grid-template-columns: 1fr; /* Single column on smaller screens */
    }
}

.about-skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.about-me, .skills {
    flex: 1;
    min-width: 300px; /* Adjust as needed */
    max-width: 300px;
}


  .skills ul {
    width: 100%; /* Adjust column width as needed */
    list-style: square;
    text-align: left;
    padding-left: 1em;
    padding-right: 2em;
    margin: 0;
  }
  
  
  
  .skills li {
    margin-bottom: 0px;
    color: #fffbfb;
    line-height: 1.5;
    padding: 0;
  }

