/* General Reset */
body, h1, h2, h3, p, a {
    margin: 0;
    padding: 0;
    color: #fffbfb;
    font-family: Raleway, Arial, sans-serif;
}

/* Body Styling */
body {
    background-color: #090909;
    padding: 20px;
}

main {
    margin: 0 auto;
    max-width: 700px;
    background-color: #090909;
    align-content: center;
    align-items: center;
}

.header-content h1 {
    align-content: center;  
    text-align: center;
}

.hello-text {
    font-size: 5rem;
    letter-spacing: 0.2em; /* Adjust the letter spacing as needed */
}

header p {
    font-size: 1.2rem;
    margin-top: 10px;
}

.applistParentLinks{
    padding: 20px;
    text-align: center;
    align-content: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
   
}
.app-listLinks {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px;  
    margin-top: 10px;
    padding: 20px;
}

.link-icon {
    max-width: 60px;
    max-width: 60px;
    margin-bottom: 7px;
    border-radius: 8px;
    object-fit: cover;
}

.link-card {
    background: #090909;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none; /* Remove link underline */
    color: inherit; /* Inherit text color */
}


@media (max-width: 100px) {
    .app-listLinks {
        grid-template-columns: 1fr; /* Single column on smaller screens */
    }
}



.applistParent{
    padding: 20px;
    text-align: center;
}
.app-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 20px;  
    margin-top: 20px;
    padding: 20px;
}

.app-card {
    background: #090909;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none; /* Remove link underline */
    color: inherit; /* Inherit text color */
}

.app-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(140, 140, 140, 0.2);
    background-color: #111111;
}

.app-card .app-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 7px;
    border-radius: 8px;
    object-fit: cover;
}

.app-card h3 {
    font-size: 1.2rem;
    margin-bottom: 3px;
}

.app-card p {
    font-size: 1rem;
    color: #ffffff;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background: #090909;
    color: #fffbfb;
    font-size: 0.9rem;
}

/* Responsive Design */
@media (max-width: 100px) {
    .app-list {
        grid-template-columns: 1fr; /* Single column on smaller screens */
    }
}

.about-skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between columns as needed */
}

.about-me, .skills {
    flex: 1;
    min-width: 300px; /* Adjust the minimum width as needed */
    padding: 20px;
}

.about-me p {
    text-align: justify;
    text-justify: inter-word;
    
}

.skills ul {
    width: 100%; /* Adjust column width as needed */
    list-style: square;
    text-align: left;
    padding-left: 1em;
    padding-right: 2em;
    margin: 0;
}

.skills li {
    margin-bottom: 0px;
    color: #fffbfb;
    line-height: 1.5;
    padding: 0;
}